.article-page .fixex_nav_bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}

.article-page h1{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: .5rem 0 .75rem;
    font-size: 1.5rem;
    color: #333;
    line-height: 1.875rem;
    font-weight: 400;
}

.article-page h2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: .5rem 0 .75rem;
    font-size: 1.4rem;
    color: #333;
    line-height: 1.675rem;
    font-weight: 360;
}

.article-page h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: .5rem 0 .75rem;
    font-size: 1.3rem;
    color: #333;
    line-height: 1.575rem;
    font-weight: 350;
}

.article-page h4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: .5rem 0 .75rem;
    font-size: 1.2rem;
    color: #333;
    line-height: 1.475rem;
    font-weight: 350;
}

.article-page h5{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: .5rem 0 .75rem;
    font-size: 1.1rem;
    color: #333;
    line-height: 1.275rem;
    font-weight: 350;
}

.article-page img{
    width: 100%;
}

.article-page p{
    margin-top: .875rem;
    font-size: 1.025rem;
    color: #333;
    text-align: justify;
    line-height: 1.5125rem;
    word-break: break-word;
}

.article-page ul{
    margin-top: .875rem;
    font-size: 1.025rem;
    color: #333;
    text-align: justify;
    line-height: 1.5125rem;
    word-break: break-word;
}

.article-page ol{
    margin-top: .875rem;
    font-size: 1.025rem;
    color: #333;
    text-align: justify;
    line-height: 1.5125rem;
    word-break: break-word;
}