doctype html
html.ui-mobile(style="font-size: 100px")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
        title 本枝固荣
        style.
            * {
                margin: 0;
                padding: 0;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
            html{
                height: 100%;
            }
            body {
                zoom: 1;
                height: 100%;
                min-height: 4.5rem;
                margin: 0 auto;
                font-family: 'PingFang SC', tahoma, arial, 'helvetica neue', 'hiragino sans gb', 'microsoft yahei', sans-serif;
                font-size: 0.14rem;
                line-height: 1.6;
                color: #5d5d5d;
                -webkit-text-size-adjust: 100%!important;
                text-size-adjust: 100%!important;
                -webkit-font-smoothing: antialiased;
                overflow-x: hidden;
            }
            header{
                position: relative;
                height: 100%;
                background: url('http://feexp.org/images/headBg.jpg') center center;
                background-size: cover;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                z-index: 10;
                overflow: hidden;
            }
            .tree_area{ display:block; height:603px; width:375px; position:absolute; left:50%; top:50%; -webkit-transform-origin: center center;transform-origin: center center; }
            .tree_area .tree_bg{ display:block; height:603px; width:375px; background:url(http://feexp.org/images/tree_bg.jpg) no-repeat 0 0; background-size:contain; position:absolute; left:0px; top:0px; z-index:1;}
            .tree_area .tree_main{ display:block; height:606px; width:387px; background:url(http://feexp.org/images/tree_main2.png) no-repeat 0 0; background-size:contain; position:absolute; left:-2px; top:0px; z-index:3; -webkit-transform-origin:80% 0%;}
            .tree_area .tree_branch_1{ display:block; height:338px; width:374px; background:url(http://feexp.org/images/tree_branch_1.png) no-repeat 0 0; background-size:contain; position:absolute; left:-20px; top:30px; z-index:5; -webkit-transform-origin:100% 70%; }
            .tree_area .tree_branch_2{ display:block; height:77px; width:270px; background:url(http://feexp.org/images/tree_branch_2.png) no-repeat 0 0; background-size:contain; position:absolute; left:-10px; top:11px; z-index:4; -webkit-transform-origin:100% 10%; }
            .tree_area .tree_branch_3{ display:block; height:106px; width:244px; background:url(http://feexp.org/images/tree_branch_3.png) no-repeat 0 0; background-size:contain; position:absolute; left: 24px; top: 66px; z-index:2; -webkit-transform-origin:100% 0%; }
            .tree_area .tree_branch_4{ display:block; height:101px; width:319px; background:url(http://feexp.org/images/tree_branch_4.png) no-repeat 0 0; background-size:contain; position:absolute; left:48px; top: 0px; z-index:5; -webkit-transform-origin:100% 0%; }
            .tree_area .tree_mask{ display:block; height:1206px; width:750px; position:absolute; left:0px; top:0px; z-index:99; background:rgba(0,0,0,0.7);}

            .tree_bg, .tree_main, .tree_branch_1, .tree_branch_2, .tree_branch_3, .tree_branch_4 { opacity: 0; transition: .2s ease }
            .tree_area.show .tree_bg, .tree_area.show .tree_main, .tree_area.show .tree_branch_1, .tree_area.show .tree_branch_2, .tree_area.show .tree_branch_3, .tree_area.show .tree_branch_4 { opacity: 1; }

            .tree{ display:block; height:100%; width:100%; position:absolute; left:0px; top:0px;}
            .path{ display:block; height:100%; width:100%; position:absolute; left:0px; top:0px; z-index:98;}
            .path_2 .dot{ height:2px; width:2px; border-radius:2px;}
            .path_4 .dot{ height:3px; width:3px; border-radius:3px;}
            .path_3 .dot{ height:3px; width:3px; border-radius:3px;}
            .dot{ display:block; height:4px; width:4px; border-radius:4px; position:absolute; left:0px; top:0px; z-index:2; background:rgba(255,255,255,0.5);/* rgba(255,255,255,0.9) box-shadow:0px 0px 3px rgba(60,90,40,0.9); -webkit-animation:a_dot 1s linear infinite;*/ opacity:0;}

            @-webkit-keyframes a_dot{
                0%{ -webkit-transform:scale(1); }
                50%{ -webkit-transform:scale(1.15); }
                100%{ -webkit-transform:scale(1); }
            }
            .tree_area{
                transform: translate(-50%,-50%) scale(1.1061359867330016);
            }
            .head-mask{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.7);
            }
            .head-top {
                position: absolute;
                left: .35rem;
                top: .4rem;
                width: .9rem;
                height: .5rem;
                background: url(http://feexp.org/images/headTop.png);
                background-size: 100% 100%;
                color: transparent;
            }
            .slogn {
                position: absolute;
                left: 50%;
                top: 40%;
                width: 3.07rem;
                height: .91rem;
                margin: -.42rem 0 0 -1.535rem;
                background: url(http://feexp.org/images/slogon.png);
                background-size: 100% 100%;
                color: transparent;
            }
            .entrance {
                position: absolute;
                bottom: .69rem;
                left: 0;
                width: 100%;
                color: #FFF;
                text-align: center;
            }
            .entrance-item {
                position: relative;
                display: inline-block;
                text-align: center;
            }
            .entrance-name {
                font-size: .18rem;
                line-height: 1.2;
            }
            .entrance-addr {
                padding: .06rem 0 .1rem 0;
            }
            .confirm-btn {
                display: inline-block;
                padding: 0 .15rem;
                box-sizing: border-box;
                color: #FFF;
                text-align: center;
                line-height: .35rem;
                background-color: #538b30;
                border-radius: .35rem;
            }
            .quit-btn {
                margin-left:10px;
                display: inline-block;
                padding: 0 .15rem;
                box-sizing: border-box;
                color: #FFF;
                text-align: center;
                line-height: .35rem;
                background-color: #9e9e9e;
                border-radius: .35rem;
            }
            a {
                color: #5d5d5d;
                text-decoration: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                outline: none;
            }
            .collect-info{
                margin: 0 0 15px;
            }
            .collect-info .must{
                color: red;
                font-size: 20px;
                vertical-align: middle;
            }
            .collect-info input{
                line-height: 20px;
                border-radius: 7px;
                padding: 2px;
            }
            .collect-info p {
                font-weight: bold;
                margin: 5px 20px;
            }
    body
        header
            .tree_area.show
                .tree_bg
                .tree_main(style='transform: scale(1.003, 1) translate(3px, 0px) skew(0deg, 0deg);')
                    .path.path_1
                        .dot.dot_1(style='top: 493px; left: 184px; opacity: 1;')
                        .dot.dot_2(style='top: 518px; left: 179px; opacity: 1;')
                        .dot.dot_3(style='top: 526px; left: 190px; opacity: 1;')
                        .dot.dot_4(style='top: 529px; left: 199px; opacity: 0.793;')
                        .dot.dot_5(style='top: 533px; left: 207px; opacity: 0.219;')
                        .dot.dot_6(style='top: 340px; left: 261px; opacity: 0.181;')
                        .dot.dot_7(style='top: 401px; left: 251px; opacity: 0.778;')
                        .dot.dot_8(style='top: 426px; left: 247px; opacity: 1;')
                        .dot.dot_9(style='top: 454px; left: 212px; opacity: 1;')
                        .dot.dot_10(style='top: 467px; left: 193px; opacity: 1;')
                    .path.path_2
                        .dot.dot_1(style='top: 527px; left: 51px; opacity: 0.219;')
                        .dot.dot_2(style='top: 316px; left: 246px; opacity: 0.206;')
                        .dot.dot_3(style='top: 376px; left: 234px; opacity: 0.778;')
                        .dot.dot_4(style='top: 409px; left: 222px; opacity: 1;')
                        .dot.dot_5(style='top: 443px; left: 187px; opacity: 1;')
                        .dot.dot_6(style='top: 454px; left: 163px; opacity: 1;')
                        .dot.dot_7(style='top: 451px; left: 132px; opacity: 1;')
                        .dot.dot_8(style='top: 455px; left: 117px; opacity: 1;')
                        .dot.dot_9(style='top: 469px; left: 85px; opacity: 1;')
                        .dot.dot_10(style='top: 480px; left: 64px; opacity: 1;')
                        .dot.dot_11(style='top: 491px; left: 49px; opacity: 1;')
                        .dot.dot_12(style='top: 503px; left: 39px; opacity: 0.858;')
                    .path.path_3
                        .dot.dot_1(style='top: 483px; left: 334px; opacity: 1;')
                        .dot.dot_2(style='top: 498px; left: 346px; opacity: 1;')
                        .dot.dot_3(style='top: 503px; left: 366px; opacity: 1;')
                        .dot.dot_4(style='top: 508px; left: 378px; opacity: 0.793;')
                        .dot.dot_5(style='top: 519px; left: 389px; opacity: 0.219;')
                        .dot.dot_6(style='top: 317px; left: 298px; opacity: 0.181;')
                        .dot.dot_7(style='top: 363px; left: 316px; opacity: 0.778;')
                        .dot.dot_8(style='top: 389px; left: 318px; opacity: 1;')
                        .dot.dot_9(style='top: 427px; left: 314px; opacity: 1;')
                        .dot.dot_10(style='top: 450px; left: 315px; opacity: 1;')
                    .path.path_4
                        .dot.dot_1(style='top: 539px; left: 253px; opacity: 0.219;')
                        .dot.dot_2(style='top: 342px; left: 291px; opacity: 0.206;')
                        .dot.dot_3(style='top: 384px; left: 293px; opacity: 0.778;')
                        .dot.dot_4(style='top: 412px; left: 292px; opacity: 1;')
                        .dot.dot_5(style='top: 444px; left: 297px; opacity: 1;')
                        .dot.dot_6(style='top: 460px; left: 290px; opacity: 1;')
                        .dot.dot_7(style='top: 480px; left: 273px; opacity: 1;')
                        .dot.dot_8(style='top: 494px; left: 274px; opacity: 1;')
                        .dot.dot_9(style='top: 517px; left: 273px; opacity: 1;')
                        .dot.dot_10(style='top: 522px; left: 265px; opacity: 1;')
                        .dot.dot_11(style='top: 523px; left: 253px; opacity: 1;')
                        .dot.dot_12(style='top: 527px; left: 250px; opacity: 0.858;')
                .tree_branch_1(style='transform: scale(0.98, 1) translate(3px, 0px) skew(0deg, 0deg);')
                .tree_branch_2(style='transform: scale(0.997, 1) translate(3px, 0px) skew(0.3deg, 0deg);')
                .tree_branch_3(style='transform: scale(0.97, 1) translate(3px, 0px) skew(0deg, 0deg);')
                .tree_branch_4(style='transform: scale(0.98, 1) translate(4px, 0px) skew(0deg, 0deg);')
            .head-mask
            .head-top
                h5 2017 front end & experience
            .slogn
                h1 本固技荣
                h4 第二届前端体验大会
            .entrance
                .entrance-item
                    .entrance-name
                        | 北京/
                        span.entrance-date1 12.17
                    .entrance-addr 新浪总部大厦
                    .collect-info(style="display: ;")
                        span(class="must") *
                        input(type="text", id="id_card", placeholder="请填写您的身份证号", maxlength="18")
                        p 注：由于大厦物业和中关村软件园区公安部门对于超过60人以上集会的安全要求，需提供本人身份证号码
                    .collect-info(style="display: ;")
                        span(style="visibility: hidden;", class="must") *
                        input(type="text", id="wb_info", placeholder="请输入您的微博昵称")
                    #no_quit_zone(style="display: ;")
                        a.confirm-btn#confirm-btn
                            | 确认参加
                        a.quit-btn#quit-btn
                            | 放弃
    script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    script.
        (function ($) {
            $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
            }
        })(jQuery);
        
        var email = '';
        var tel = '';

        $(document).ready(function(){
            email = $.getUrlParam('email');
            tel = $.getUrlParam('tel');
        });

        $('#confirm-btn').bind('click', function(e) {
            var id_card = $('#id_card').val();
            var wb_info = $('#wb_info').val();

            var id_card_flag = tools.check_card_id(id_card);

            if (id_card_flag) {
                alert(id_card_flag);
                return;
            }

            var post_data = {
                wb_info: wb_info,
                id_card: id_card,
                operate_type: 1,
                email: email,
                tel: tel
            };

            tools.aj_do_confirm(post_data);
        });

        $('#quit-btn').bind('click', function(e) {
            var id_card = $('#id_card').val();
            var wb_info = $('#wb_info').val();

            var post_data = {
                wb_info: wb_info,
                id_card: id_card,
                operate_type: 0,
                email: email,
                tel: tel
            };

            tools.aj_do_confirm(post_data);
        });

        var tools = {
            check_card_id: function(_val){
                /*
                 * 居民身份证校验规则
                 * 规则1： 15位或18位
                 * 规则2： 若15位，全部为数字
                 * 规则3： 若18位，全是数字或最后一位是X
                 * 规则4： 若18位，则根据前17位的对应位数加权求和，后对11取余再根据对应关系与第18位比较是否相等
                 */
                if (_val == '') {
                    return '请务必填写身份证号码';
                }

                if (_val.length !== 15 && _val.length !== 18) {
                    return '身份证号码位数不正确，请再次检查';
                }

                if (_val.length === 15 && !/^[0-9]{15}$/.test(_val)) {
                    return '请输入正确的身份证号码';
                }

                if (_val.length === 18) {
                    if (!/^[0-9]{17}[0-9xX]{1}$/.test(_val)) {
                        return '请输入正确的身份证号码';
                    }

                    var num_arr = _val.split('');
                    var weight_arr = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2];
                    var remainder_arr = ['1', '0', 'X', '9', '8', '7', '6', '5', '4', '3', '2'];

                    var calc_num = 0;
                    for (var i = 0; i < num_arr.length; i++) {
                        if (i === 17) { break; }
                        calc_num += num_arr[i] * weight_arr[i];
                    }

                    if (remainder_arr[calc_num % 11] !== num_arr[17].toUpperCase()) {
                        return '请输入正确的身份证号码';
                    }
                }
            },
            aj_do_confirm: function(post_data) {
                $.ajax({
                    url: "/api/do/confirm",
                    data: post_data,
                    type: "get",
                    success: function(res) {
                        if (res.code == 100000) {
                            if (post_data.operate_type == 1) {
                                window.location.replace("http://feexp.org/beijing/");
                            } else if (post_data.operate_type == 0) {
                                window.location.replace("/quit");
                            }
                        } else {
                            alert(res.msg);
                        }
                    },
                    error: function(res) {}
                });
            }
        };

        // 发送ajax请求
        

