@charset "UTF-8";
/*清零*/
/*body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, th, var, i {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

a {
  text-decoration: none; }

a:focus, :focus {
  outline-style: none;
  outline-color: #eb7350; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%; }

textarea {
  resize: none; }*/

/*字符类icon*/
.W_ficon {
  font-family: "wbficonregular";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px; }

.ficon_arrow_left,
.ficon_arrow_right {
  vertical-align: 1px; }

@font-face {
  font-family: 'wbficonregular';
  src: url("http://img.t.sinajs.cn/t4/appstyle/e_component/images/font/wbficon.eot");
  src: url("http://img.t.sinajs.cn/t4/appstyle/e_component/images/font/wbficon.eot#iefix") format("embedded-opentype"), url("http://img.t.sinajs.cn/t4/appstyle/e_component/images/font/wbficon.svg") format("svg"), url("http://img.t.sinajs.cn/t4/appstyle/e_component/images/font/wbficon.woff") format("woff"), url("http://img.t.sinajs.cn/t4/appstyle/e_component/images/font/wbficon.ttf") format("truetype");
  src: url("http://img.t.sinajs.cn/t4/appstyle/e_component/images/font/wbficon.eot") \9;
  font-weight: normal;
  font-style: normal; }

.clearfix:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.fl {
  float: left; }

.fr {
  float: right; }

.hid {
  display: none; }

.position_r {
  position: relative; }

:focus {
  outline: 1; }

input, select {
  vertical-align: middle; }

::selection {
  background: #eb7350;
  color: #fff; }

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes flipInLeft {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInLeft {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

.flipInLeft {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInLeft;
  animation-name: flipInLeft; }

@-webkit-keyframes flipInRight {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInRight {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

.flipInRight {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInRight;
  animation-name: flipInRight; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); } }

@keyframes bounceOut {
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); } }

.bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
  -webkit-animation-duration: .25s;
  animation-duration: .25s; }

@-webkit-keyframes bounceIn {
  0%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  0%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .25s;
  animation-duration: .25s; }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg); } }

@-o-keyframes loading {
  0% {
    -o-transform: rotate(0deg); }

  100% {
    -o-transform: rotate(360deg); } }

@keyframes loading {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }

.layer_calendar {
  position: absolute;
  z-index: 100001;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #fff;
  height: auto;
  color: #000;
  font-family: Helvetica, Arial, "Microsoft Yahei";
  border-radius: 2px;
  border-top: 2px #FA7F40 solid; }
  .layer_calendar a {
    color: #444; }
  .layer_calendar .selector {
    position: relative;
    zoom: 1;
    text-align: center;
    height: 30px;
    width: 210px;
    overflow: hidden;
    font-size: 20px;
    margin-bottom: 7px; }
    .layer_calendar .selector .ficon_arrow_left {
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #999; }
    .layer_calendar .selector .ficon_arrow_right {
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #999; }
    .layer_calendar .selector .quick_select {
      display: block;
      margin: 0 40px;
      line-height: 32px; }
    .layer_calendar .selector a {
      color: #333; }
    .layer_calendar .selector a:hover {
      color: #fa7d3c; }
  .layer_calendar .day_list {
    width: 211px; }
    .layer_calendar .day_list ul {
      width: 100%;
      overflow: hidden;
      list-style: none;
      -webkit-padding-start: 0}
    .layer_calendar .day_list li {
      float: left;
      width: 30px;
      text-align: center; }
    .layer_calendar .     .weeks {
      font-size: 12px;
      margin-bottom: 5px; }
      .layer_calendar .day_list .weeks li {
        height: 14px;
        line-height: 14px;
        color: #aaa; }
    .layer_calendar .day_list .days li {
      height: 30px;
      line-height: 31px;
      color: #bbb; }
      .layer_calendar .day_list .days li strong {
        font-weight: 400; }
      .layer_calendar .day_list .days li a {
        display: block;
        width: 30px;
        height: 30px;
        overflow: hidden; }
        .layer_calendar .day_list .days li a:hover {
          color: #FA7F40; }
        .layer_calendar .day_list .days li a.day {
          background: #FA7F40;
          color: #fff;
          border-radius: 15px; }
        .layer_calendar .day_list .days li a.spanday {
          background: #FFDBC6;
          border-radius: 15px; }
    .layer_calendar .day_list .times {
      background: #F2F2F2;
      margin: 0 -5px -5px;
      padding: 10px; }
      .layer_calendar .day_list .times .input_area {
        float: left;
        background: #fff;
        border: 1px #ccc solid;
        color: #999;
        padding: 2px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        width: 130px;
        height: 20px;
        line-height: 18px; }
      .input_area { box-sizing:initial;-webkit-box-sizing: initial;-moz-box-sizing:initial }
        .layer_calendar .day_list .times .input_area:focus {
          border-color: #FA7F40; }
        .layer_calendar .day_list .times .input_area .time_input {
          border: 0 none;
          width: 30px;
          height: 18px;
          margin: 1px;
          padding: 0 0 0 5px;
          font-size: 14px; }
          .layer_calendar .day_list .times .input_area .time_input::selection {
            background: #eb7350;
            color: #fff; }
      .layer_calendar .day_list .times .time_btn {
        float: right;
        background: #ff8140;
        border: 1px solid #f77c3d;
        color: #fff;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
        padding: 0 7px;
        white-space: nowrap;
        display: inline-block;
        border-radius: 2px;
        height: 24px;
        line-height: 25px;
        text-decoration: none;
        font-size: 12px;
        min-width: 40px;
        text-align: center;
        outline: none; }
        .layer_calendar .day_list .times .time_btn:hover {
          background: #f7671d;
          border: 1px solid #f06923; }
  .layer_calendar .month_list .months {
    width: 200px;
    margin: 0 5px;
    overflow: hidden;
    font-size: 14px; }
    .layer_calendar .month_list .months li {
      float: left;
      width: 40px;
      height: 40px;
      padding: 5px;
      text-align: center;
      line-height: 41px;
      color: #bbb; }
      .layer_calendar .month_list .months li strong {
        font-weight: 400; }
      .layer_calendar .month_list .months li a {
        display: block;
        height: 40px;
        width: 40px;
        overflow: hidden; }
        .layer_calendar .month_list .months li a:hover {
          color: #FA7F40; }
        .layer_calendar .month_list .months li a.month {
          background: #FA7F40;
          color: #fff;
          border-radius: 20px; }
  .layer_calendar .year_list .years {
    width: 200px;
    margin: 0 5px;
    overflow: hidden;
    font-size: 14px; }
    .layer_calendar .year_list .years li {
      float: left;
      width: 40px;
      height: 40px;
      padding: 5px;
      text-align: center;
      line-height: 41px;
      color: #bbb; }
      .layer_calendar .year_list .years li strong {
        font-weight: 400; }
      .layer_calendar .year_list .years li a {
        display: block;
        height: 40px;
        width: 40px;
        overflow: hidden; }
        .layer_calendar .year_list .years li a:hover {
          color: #FA7F40; }
        .layer_calendar .year_list .years li a.year {
          background: #FA7F40;
          color: #fff;
          border-radius: 20px; }
  .layer_calendar .calendars_list {
    position: relative;
    zoom: 1; }
    .layer_calendar .calendars_list .calendars {
      float: left;
      padding: 0 5px; }
    .layer_calendar .calendars_list .ficon_arrow_left {
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #999;
      text-align: center; }
    .layer_calendar .calendars_list .ficon_arrow_right {
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #999;
      text-align: center; }
  .layer_calendar .btm_wrap {
    background: #F2F2F2;
    margin: 0 -5px -5px;
    padding: 10px;
    clear: both; }
    .layer_calendar .btm_wrap .input_area {
      float: left;
      background: #fff;
      border: 1px #ccc solid;
      color: #999;
      padding: 2px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      width: 130px;
      height: 20px;
      line-height: 18px; }
      .layer_calendar .btm_wrap .input_area:focus {
        border-color: #FA7F40; }
      .layer_calendar .btm_wrap .input_area .time_input {
        border: 0 none;
        width: 30px;
        height: 18px;
        margin: 1px;
        padding: 0 0 0 5px;
        font-size: 14px; }
        .layer_calendar .btm_wrap .input_area .time_input::selection {
          background: #eb7350;
          color: #fff; }
    .layer_calendar .btm_wrap .time_btn {
      float: right;
      background: #ff8140;
      border: 1px solid #f77c3d;
      color: #fff;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
      padding: 0 7px;
      white-space: nowrap;
      display: inline-block;
      border-radius: 2px;
      height: 24px;
      line-height: 25px;
      text-decoration: none;
      font-size: 12px;
      min-width: 40px;
      text-align: center;
      outline: none; }
      .layer_calendar .btm_wrap .time_btn:hover {
        background: #f7671d;
        border: 1px solid #f06923; }
    .layer_calendar .btm_wrap .txt {
      float: left;
      padding: 0 10px;
      line-height: 26px;
      font-size: 12px;
      color: #999; }
