@charset 'utf-8';
.content { 
    float: left; 
    width: 31%; 
    padding: 0 1%; 
    white-space: nowrap; 
    height: 120px; 
    overflow: hidden; 
}
.content ul { 
    margin: 0; 
    padding: 0; 
    list-style: none; 
}
.content li { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    text-align: center; 
    line-height: 24px; 
}
